body {
    background-image: url("./img/background.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.countdown{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin: 25% 25% 0% 30%;
}
.countdown__elements{
    position: relative;
    display: flex;
    width: 700px;
    height: 120px;
    border: mediumseagreen solid 3px;
    justify-content: space-between;

}
.countdown__input, .countdown__input_button, .reset_button{
    font-family: 'Roboto', sans-serif;
}

.countdown__element{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    border: black solid 2px;
    margin: 10px;
}
.countdown__span{
    width: 80px;
    height: 60px;
    border: darkseagreen solid 3px;
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
}
.countdown__input{
    width: 300px;
}